<head>
  <title>{{ guild_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <!-- ModestaCSS from https://github.com/AlexFlipnote/ModestaCSS -->
  <link rel="stylesheet" href="/static/modesta.css">
</head>
<body>
  <section class="fullscreen">
    <div class="background" style="background-image: url('{{ guild_background }}');"></div>
    <div class="center-object">
      <section class="me">
        <img draggable="false" src="{{ guild_icon }}" class="image-title">
        <h1 class="title">{{ guild_name }}</h1>
        <span class="undertitle">{{ guild_description }}</span>
      </section>
      <div class="buttons">
        <a onclick="window.location.href='{{ guild_invite }}'" class="btn animation white" target="_blank">Join Us!</a>
        <a onclick="window.location.href=''" class="btn animation nephritis-flat">{{ guild_membercount }} Members</a>
      </div>
    </div>
  </section>
</body>
